/* Importamos Montserrat desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll suave para toda la página */
html {
  scroll-behavior: smooth;
}

/* Ajuste opcional para que las imágenes no se deformen */
img {
  max-width: 100%;
  display: block;
}
